.b-about
  padding-top: 20px;
  ul li
      list-style-type: disc

.b-about .about
  margin-top: 30px;

.b-about .services
  text-align: center;
  margin-top: 50px;

.b-about .content h4 > .glyphicon
  margin-right: 20px;


.b-about .contacts h2
  text-align: right;

.b-about .contacts
  margin-top: 20px;


@media (max-width: 1376px)
  .b-about > row > *
    padding: 0 !important

  .b-about .content h4 > .glyphicon
    margin-right: 5px;


@media (max-width: 1024px)
  .b-about .services h4
    font-size: 100%;


.b-exp
  margin-top: 50px;
  h2
    text-align: center;

.b-about .b-work-with
  display: inline-block
  .label
    border-radius: 0px;
    padding: 5px;
.b-about .b-work-with span
  cursor pointer
  margin: 5px;
  float: left;
  font-size: 100%;

h3
  margin-top: 10px;