@import "http://webfonts.ru/import/roboto.css";
@import "http://webfonts.ru/import/baronneue.css";

ul li
  list-style-type: none;
html, body
  height:100%;
  width:100%;
  margin:0;
  padding:0;


body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: normal !important;
  color: #333;

  background: #FFFFFF

.col-no-padding
  padding: 0 !important


.text-grey
  color: #5e5e5e



.sochisat-line
  margin: 0 100px 0 100px;
  border-top: 1px solid #f4f4f4;

.bg-grey
  background: #f6f6f6;

.img-circle
  border: 1px solid #303030



.btn-yellow,  .btn-yellow:focus
  margin-left: 10px;
  border-radius: 0px;
  padding: 5px 5px 7px 5px;
  border: 0;
  color: #FFFFFF
  background: #434343;
  font-weight: bold

  span
    margin-left: 10px;
    height: 100%;
    background: #ffbe46;
    color: #323232
    padding: 5px;

.btn-yellow:hover
  background: #ffbe46;
  color: #323232
  span
    background: #434343;
    color: #FFFFFF

.modal
  z-index: 1005002
.modal-content
  border-radius: 0 !important;

.modal-body-text
  text-align: left;

.no-border-radius
  border-radius: 0;

a
  cursor: pointer

.bg-white
  background: #FFFFFF

.small-shadow
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);

.fadein
  display: none

.form-group input, .btn
  margin: 5px 0 5px 0;

gold-light
  color: #ffcc75

.text-gold
  color: #fbb50d
  margin: 0;

.bottom-border-red
  border-bottom: 2px solid red
  display: inline;

.bottom-border-gold
  border-bottom: 2px solid #fbb50d
  display: inline;



.blockquote-gold
  border-left-color: #fbb50d

  h1, h2, h3, h4
    margin-top: 0;
    color: #fbb50d


.m-top-50
  margin-top: 50px !important;


.map
  overflow: hidden;
  max-height: 320px;
  height: 320px;
  border: 1px solid #bbc0be;
  border-radius: 5px;

.map > ymaps
  min-width: 100%;
  min-height: 100%;

















//---------color

.b-scheme
  display: block
  position relative

  .background-light-grey
    background-color #4c4c4c

  .text-grey
    color #333333

  .border-grey
    border-color #333333 !important

  .text-red
    color #dc1037

  .text-blue
    color #038fc3


  //----------position
  .horizontal-center
    margin 0 auto

  .text-center
    text-align center

  //----------fonts
  .font-16
    font-size 16px

  //----------decor
  .border-right
    border-right 1px solid #000

  .hide
    display none

  //========header=========




  .scheme-point
    position absolute

  .scheme-point h2
    position relative
    font-size  48px
    z-index -1

  .scheme-point:hover > .hide
    display block !important

  .scheme
    width 800px



  .scheme-descript
    border-radius 3px
    border 1px solid rgba(3, 3, 3, 0.56)
    background #f2f2f2
    padding 10px


.map-content
    blockquote
      font-size: 100% !important