.marketing {
  padding-top: 10px;
  margin-top: 20px;
}

.marketing  .row .col-lg-6  {
  margin: 5px 0 5px 0;
}
.marketing h2 {
  font-family: 'Roboto';
  font-weight: normal;
  text-align: center;
}

.marketing
  text-align: center;

.marketing .col-lg-3 p
  margin: 10px 30px 0 30px !important;
  text-align: left;


.marketing .circle
  border-radius: 100px;
  .circle-blue
    background: #5e91c1

.marketing .thumbnail
  border: 0;


.b-services-icon
  .thumbnail .caption h3
    margin-top: 0;