div(class="header")
    nav(class="navbar navbar-default" role="navigation")
        div(class="container")

            div(class="row text-center" style="padding: 10px;")

                span(class="col-lg-2 col-lg-offset-1 col-md-offset-1 col-md-2 hidden-xs hidden-sm")
                    kbd  Позвони нам

                span(class="col-lg-2 col-md-3 col-sm-4  col-xs-6")
                    i(class="glyphicon contact glyphicon-phone")  8(918)112-94-79

                span(class="col-lg-3 col-md-3 col-sm-4 col-xs-6")
                    i(class="glyphicon contact glyphicon-phone-alt")  8(861)266-94-89

                span(class="col-lg-2 col-md-3 col-sm-4 hidden-xs")
                    i(class="glyphicon contact glyphicon-earphone")  8(908)680-22-66

div(class="margin-header")




