div(class="map-content")
    div(class="container marketing b-services-icon")
        div(class="row")
            div(class="col-lg-6 col-md-6")
                blockquote(class="text-left")
                    h2 Чистка ковров в Краснодаре
                    p Основное направление компании "Мой ковер".
                    p Все изделия проходят отчистку, отжим и сушку на уникальном устройстве, при этом качество мойки на порядок превышает другие, представленные на рынке, способы и не наносит вреда натуральным материалам.
                    p Конструкция устройства для мойки ковров позволяет стирать изделия шириной до 9 метров и любой длины. Под эти параметры подходит 99.9% ковровых изделий. <b>Работаем ежедневно и в любую погоду!</b>
                    p Стоимость услуги "чистка ковра" рассчитывается индивидуально исходя из размера изделия и длины ворса!
            div(class="col-lg-6 col-md-6")
                img(src="img/wh.png" style="max-width: 350px")


    div(class="b-exp container m-top-50")
        div(class="sochisat-line")


    div(class="container marketing b-services-icon m-top-50")

            h2(class="text-center bottom-border-red") Как мы работаем?

            div(class="row m-top-50")
                div(class="col-lg-12")
                    div(class="col-lg-4 col-md-3")
                        img(src="img/car-dirty.png" style="max-width: 100%" alt="Стирка ковров")
                    div(class="col-lg-8 col-md-8")
                        blockquote(class="text-left" )
                            h3 Забираем ковер
                            p Вы звоните нам зараее за сутки-двое по указанным номерам (8(918)112-94-79, 8(861)266-94-89, 8(908)680-22-66) и оставляете предварительную заявку на оказание услуги. Это нужно чтобы экспедитор мог максимально сократить издержки и составить карту маршрута.
                            p Водитель-экспедитор забирает ковер и на всех парах летит в цех, чтобы наш завод произвел мойку ковра.

                div(class="col-lg-12")
                    div(class="col-lg-4 col-md-3")
                        img(src="img/cleaning.png" style="max-width: 100%" alt="Чистка ковров")
                    div(class="col-lg-8 col-md-8")
                        blockquote(class="text-left" )
                            h3 Первичная обработка ковра
                            p Для удаления пыли, грязи и мусора изделие обрабатывается мощным пылесосом, а так же замачивается в воде и "откисает". Используются Используются ЭКО препараты, которые безвредны для здоровья: Karcher (германия), Delvir (Италия) и порошки на основе хозяйственного мыла. (Без запаха и отдушек)
                div(class="col-lg-12")
                    div(class="col-lg-4 col-md-3")
                        img(src="img/washing.png" style="max-width: 100%" alt="Мойка ковров")
                    div(class="col-lg-8 col-md-8")
                        blockquote(class="text-left" )
                            h3 Гидрокомпрессионная стирка ковра
                            p Ковер под сильным давлением промывается струями воды с чистящими средствами.
                            p Валы с полипропиленовых щетками оказывают механическое воздействие на всю поверхность изделия. Благодаря такому способу мойки ковра удаляются даже самые сложные загрязнения по всей толще и устраняются неприятные запахи.
                            p А благодаря двустороннее полосканию смываются остатки моющих средств и уничтожаются домашние бактерии, сапрофиты.

                div(class="col-lg-12")
                    div(class="col-lg-4 col-md-3")
                        img(src="img/centrifuge.png" style="max-width: 100%" alt="химчистка ковров")
                    div(class="col-lg-8 col-md-8")
                        blockquote(class="text-left" )
                            h3   Отжимаем ковер
                            p Для отжима используется центрифуга. Благодаря этому ковер теряет большую часть набранной воды не повреждая ворс, а так же отсутствует деформация изделия, которая происходит при бытовой чистке или стирке на автомойках и ручному отжиму (скручиванию)

                div(class="col-lg-12")
                    div(class="col-lg-4 col-md-3")
                        img(src="img/drying.png" style="max-width: 100%" alt="паласы")
                    div(class="col-lg-8 col-md-8")
                        blockquote(class="text-left" )
                            h3 Способ сушки
                            p Для сушки ковра используется специально оборудованная камера, температура в которой настраивается индивидуально и является оптимальной для материала из которого изготовлен ковер. Камера вентилируема это предотвращает появление запаха "сырости" и порчу изделия, а так же закрепляет антибактериальный эффект.

                div(class="col-lg-12")
                    div(class="col-lg-4 col-md-3")
                        img(src="img/clean-car.png" style="max-width: 100%" alt="паласы и ковры")
                    div(class="col-lg-8 col-md-8")
                        blockquote(class="text-left" )
                            h3 Бесплатная доставка ковра
                            p После проверки качества стирки, водитель-экспедитор летит к Вам на всех парах чтобы доставить чистый ковер.