//div(id="carousel-example-generic" class="carousel slide" data-ride="carousel" )
    div(class="carousel-inner ")
        div(class="item cctv active")
            img(src="img/slides/cat.jpg" alt="стирка ковров в краснодаре")
            div(class="carousel-caption verical fadein row" style="top: 15%;")
                div(class="col-lg-6  col-md-6  col-sm-6")
                    form(class="form-inline" role="form")
                        div(class="visible-lg")

                            h1 Стирка ковров </br>
                            p( class="text-right") Приехали - забрали - помыли - привезли
                        h3 Перезвонить Вам?
                        div(class="form-group")
                            input(type="email" class="form-control input-lg" id="form-name" placeholder="ФИО")
                            br
                            input(type="email" class="form-control input-lg" id="form-contacts" placeholder="Email или телефон")
                            button(type="button" class="btn btn-info btn-lg btn-block") Отправить
