div(class="container b-logo  m-top-50")
    h1 мой ковер
    h2 стирка ковров в Краснодаре
    div()
        img( src="img/scroller.png" id="scroller")

div(class="container marketing b-services-icon m-top-50")

    //h2(class="text-center bottom-border-red") Легко стираем:
    br(class="hidden-xs")
    br(class="hidden-xs")

    div(class="row")
        div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")

            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    i(class="glyphicon glyphicon-stop" style="font-size: 600%")
                    div(class="caption")
                        h3 Ковры и паласы </br>
                            small Мохнатые и не очень
                        p

            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    i(class="glyphicon glyphicon-th-large" style="font-size: 600%")
                    div(class="caption")
                        h3 Коврики </br>
                            small Даже самые маленькие
                        p


        div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")
            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                    i(class="glyphicon glyphicon-align-left" style="font-size: 600%")
                    div(class="caption")
                        h3 Ковровые дорожки </br>
                            small Любой длины
                        p


            div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                div(class="thumbnail")
                     i(class="glyphicon glyphicon-saved" style="font-size: 600%")
                     div(class="caption")
                        h3 Ковровое покрытие </br>
                            small Нужно только отодрать
                        p




div(class="how-it-work")
    div(class="container marketing b-services-icon m-top-50")
        h2(class="text-center bottom-border-gold") Наши цены
        br
        br
        div(class="row")
            div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(style="font-size: 400%; font-weight: bold;") 140 <del>P</del>
                        div(class="caption")
                            h3  Ковры и паласы</br>
                                small Квадратный метр
                            p
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(style="font-size: 400%; font-weight: bold") 160 <del>P</del>
                        div(class="caption")
                            h3 Если длинный ворс </br>
                                small Квадратный метр
                            p
            div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12")
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(style="font-size: 400%; font-weight: bold") 0 <del>P</del>
                        div(class="caption")
                            h3 Доставка по городу </br>
                                small область - индивидуально
                            p
                div(class="col-md-6 col-lg-6 col-sm-6 col-xs-12")
                    div
                        i(style="font-size: 400%; font-weight: bold") 600 <del>P</del>
                        div(class="caption")
                            h3 Минимальный заказ </br>
                                small Совсем немного
                            p
        br
        br