div(class="b-slider" class="hidden-xs")
    div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
        div(class="carousel-inner")
            div(class="item active building")
                img(src="img/slides/build.jpg" alt="...")
                div(class="carousel-caption")
                    h2 Торгово-монтажная организация </br>
                        small Специализируемся на слаботочных системах


            div(class="item videoSec")
                img(src="img/slides/cam.jpg" alt="...")
                div(class="carousel-caption")
                    h2 Видеонаблюдение в Сочи
                        button(type="button" class="btn btn-default btn-yellow" data-toggle="modal" data-target="#videoSec-modal") Дополнительная информация
                            span(class="glyphicon glyphicon-chevron-right")

            div(class="item")
                video(src="img/slides/r.mp4" autoplay="true" loop)
                img(src="img/slides/empty.png" alt="...")
                div(class="carousel-caption")
                    h2 Ремонт цифровой техники</br>
                        small компьютеров, телевизоров, приставок в Сочи

            div(class="item homeSec")
                img(src="img/slides/homePhone.jpg" alt="...")
                div(class="carousel-caption")
                    h2 Охранные системы </br>
                        small домофоны,
                        small сигнализация</br>
                        button(type="button" class="btn btn-default btn-yellow" data-toggle="modal" data-target="#homeSec-modal") Дополнительная информация
                            span(class="glyphicon glyphicon-chevron-right")

            div(class="item homeSec sat")
                img(src="img/slides/sat.jpg" alt="...")
                div(class="carousel-caption")
                    h2 ТВ оборудование </br>
                        small Триколор, НТВ+</br>
                        button(type="button" class="btn btn-default btn-yellow" data-toggle="modal" data-target="#tv-modal") Доп. информация
                            span(class="glyphicon glyphicon-chevron-right")





        a(class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev")
            span(class="glyphicon glyphicon-chevron-left")

        a(class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next")
            span(class="glyphicon glyphicon-chevron-right")
