div(class="modal fade modal-inform" id="information-modal" tabindex="-1" role="dialog" aria-labelledby="Реквизиты" aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content")

            div(class="modal-body")
                    div(class="map")
                        script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=NJO1Ab9-r_efpwA4Af8RV8u1D8G5MAcG&width=10&height=10")
                    br

                    div(class="row")
                        div(class="col-lg-10  col-lg-offset-1 text-center")
                            ul(class="col-xs-6")
                                li
                                    span(class="glyphicon contact glyphicon-phone-alt")
                                    span  &nbsp;8(862)237-27-30
                                br

                                li
                                    span(class="glyphicon contact glyphicon-earphone")
                                    span  &nbsp;8(918)601-41-81

                            ul(class="col-xs-6")
                                li
                                    span(class="glyphicon contact glyphicon-envelope")
                                    span  &nbsp;sochisat@mail.ru
                                br

                                li
                                    span(class="glyphicon glyphicon-map-marker")
                                    span  &nbsp;Конституции 44А

                        div(class="col-lg-8  col-lg-offset-2")
                            br
                            br
                            table(class="table table-striped" style="border: 1px solid #f0f0f0;")

                                tbody
                                    tr
                                        td
                                            b ИП
                                        td Клочков Владимир Владимирович
                                    tr
                                        td
                                            b ИНН
                                        td 233008524609
                                    tr
                                        td
                                            b ОГРНИП
                                        td 314237328000031
                                    tr
                                        td
                                            b Банк
                                        td Филиал «Южный» ОАО «УРАЛСИБ»
                                    tr
                                        td
                                            b БИК
                                        td 040349700
                                    tr
                                        td
                                            b Р./сч.
                                        td 40802810247030000004
                                    tr
                                        td
                                            b К./сч.
                                        td 30101810400000000700






            div(class="modal-footer")
                button(type="button" class="btn btn-default btn-yellow" data-dismiss="modal") Закрыть
                    span(class="glyphicon glyphicon-chevron-right")


div(class="modal fade modal-inform" id="sorry-modal" tabindex="-1" role="dialog" aria-labelledby="Реквизиты" aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-body")
            p Сервис отправки заявок временно не доступен, приносим свои извинения за неудобста.
            p Пожалуйста воспользуйтесь телефонами горячей линии

            div(class="modal-footer")
                button(type="button" class="btn btn-default btn-yellow" data-dismiss="modal") Закрыть
                    span(class="glyphicon glyphicon-chevron-right")
